

<h2>Name: <%= @customer.customer_name.titleize %></h2>

<h3>Type Preferred: <%= @customer.type_preference %></h3>
<h3>Breed Preferred: <%= @customer.breed_preference %></h3>

<br />
<form action="/customer/<%= @customer.id %>" method="post">
  <input name= "_method" type="hidden" value="patch">

  <label for="customer_name">Edit the customer's name: </label>
  <input id="customer_name" name= "customer_name" type="text">
  <label for="type_preference">Edit customer type preference: </label>
  <input id="type_preference" name="type_preference" type="text">

  <label for="breed_preference">Edit breed preference: </label>
  <input id="breed_preference" name="breed_preference" type="text">

  <button type="submit">Update Record</button>

</form>

</br />
<form action="/customer/<%= @customer.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Found a friend! (remove from list)</button>
</form>

<a href="/"> Go Home </a>
