

<h2>Name: <%= @customer.customer_name.titleize %></h2>

<h3>Type Preferred: <%= @customer.type_preference.titleize %></h3>
<h3>Breed Preferred: <%= @customer.breed_preference.titleize %></h3>

<br />
<form action="/customer/<%= @customer.id %>" method="post">
  <input name= "_method" type="hidden" value="patch">

  <label for="customer_name">Edit the customer's name: </label>
  <input id="customer_name" name= "customer_name" type="text">
  <label for="type_preference">Edit customer type preference: </label>
  <input id="type_preference" name="type_preference" type="text">

  <label for="breed_preference">Edit breed preference: </label>
  <input id="breed_preference" name="breed_preference" type="text">

  <button type="submit">Update Record</button>

</form>

</br />
<form action="/customer/<%= @customer.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Found a friend! (remove from list)</button>
</form>


<h2>Check the animals you want to see: </h2>
<form action="/appointments/<%= @customer.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <% Animal.all.each do |animal| %>
  <input type="checkbox" name="check[]" value="<%= animal.id %>"><%= animal.animal_name.titleize() %> <em>(Breed: <%= animal.breed.titleize() %>)</em><br>
  <% end %>
  <br />
  <button type="submit">Add animal(s) to view</button>
</form>

<br />
<form action="/add_appointment/" method="post">
  <label for="appointment_date">Choose a date:</label>
  <input id="appointment_date" name="appointment_date" type="date">

  <label for="appointment_time">Time:</label>
  <input id="appointment_time" name="appointment_time" type="time">


  <button type="submit">Schedule Appointment </button>
</form>

<h4>Scheduled Viewings: </h4>
<ul>
  <% @customer.animals.each do |animal| %>
  <li><%= animal.animal_name %>   (Breed:  <%= animal.breed %>)</li>
  <% end %>
</ul>




<a href="/"> Go Home </a>
